.modal {
  width: 600px;
  background: white;
  border: 1px solid #e0e0e0;
  -webkit-animation: fade-in 0.25s;
          animation: fade-in 0.25s;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 2rem;
  visibility: visible;
  position: fixed;
  top: 8%;
  height: 550px;
  z-index: 1000;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.close-modal {
  color: #212121;
  font-size: 18px;
  display: inline-block;
}

.close-modal:hover {
  cursor: pointer;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  width: 100%;
  padding-right: 2rem;
  margin-bottom: 0.75rem;
  font-size: 14px;
  color: #616161;
  font-family: "Oxygen Mono", monospace;
}

.created-by {
  font-size: 15px;
  font-family: "Oxygen Mono", monospace;
}

.form-input {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  line-height: 1.5em;
  outline: 0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  font-size: 16px;
  padding: 0 1rem;
  margin-top: 0.5rem;
}

.form-input:hover {
  border-color: #e0e0e0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.form-input:focus {
  border-color: #1652f0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.split-input {
  width: 47.5%;
}

.split-email {
  padding-right: 0rem;
}

.task-input-split {
  width: 165px;
}

.month-due {
  margin-right: 1rem;
}

.members {
  margin-top: 1rem;
  height: 170px;
  overflow: scroll;
  border-bottom: 1px solid #e0e0e0;
}

.members-edit {
  margin-top: 1rem;
  overflow: scroll;
  border-bottom: 1px solid #e0e0e0;
  height: 130px;
}

.add-members {
  background-color: #fff;
  color: #1652f0;
}

.add-members:hover {
  color: #fff;
}

.create-project,
.update-project,
.delete-project {
  position: fixed;
  bottom: 1.25rem;
}

.delete-project {
  margin-left: 335px;
  background-color: #d9605a;
  border: 1px solid #d9605a;
}

.delete-project:hover {
  background-color: #d9605a;
  border: 1px solid #d9605a;
  opacity: 0.9;
}

.delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  color: #212121;
  font-size: 0.5rem;
  margin-top: 0.5rem;
}

.delete:hover {
  cursor: pointer;
  color: #d9605a;
}
/*# sourceMappingURL=Modal.css.map */