.project-header {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #212121;
}

.project-subheader {
  text-align: center;
}

.project-spinner {
  margin-bottom: 4rem;
}

.center-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks-container {
  min-height: 600px;
  margin: 0 auto;
  width: 900px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.add-btn {
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  background-color: #fff;
  color: #1652f0;
}

.add-btn:hover {
  color: #fff;
}

.check-task {
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.check-task:hover {
  color: #154de0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.project-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-tasks .project-task {
  width: 92.5%;
  outline: none;
  border: none;
  height: 36px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  margin-left: 1rem;
}

.project-tasks .project-task:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.project-tasks div {
  width: 100%;
  border: 1px solid #e0e0e0;
  height: 40px;
  line-height: 1.5em;
  outline: 0;
  font-size: 16px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-tasks i {
  color: #1652f0;
}

.project-tasks i:hover {
  cursor: pointer;
}

.project-tasks .task-info {
  font-size: 12px;
  text-align: center;
  padding: 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-tasks .task-info:nth-of-type(1) {
  margin-right: 2rem;
  width: 100px;
}

.project-tasks .task-info:nth-of-type(2), .project-tasks .task-info:nth-of-type(3) {
  width: 100px;
}

.project-tasks .task-info:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.projects-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
}

.muted {
  color: #616161;
}

.projects-column-headers {
  font-family: "Oxygen Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-size: 14px;
  margin-right: 16px;
  font-weight: 300;
}

.projects-column-headers p:nth-of-type(1) {
  margin-right: 1.3rem;
  width: 100px;
  text-align: center;
}

.projects-column-headers p:nth-of-type(2) {
  width: 55px;
  text-align: center;
  padding-right: 2rem;
}
/*# sourceMappingURL=Project.css.map */